.menu a{
    color: #999;
    margin-left: 10px;
    line-height: 32px;
}

.menu span{
    color: #999999;
    margin-left: 40px;
    line-height: 32px;
}
.menu{
    float: left;
}


.menu a:hover{
    color: #ff0000;
}

#quick-menu{
    float: right;
}

#quick-menu .right{
    float: left;
    padding: 0 13px;
}
/*显示链接，不能在后面加a*/

#quick-menu{
    position:relative;
}

/*#quick-menu .aa{*/
    /*position:absolute;*/
    /*left:10px;*/
/*}*/

#quick-menu .right  a{
    color: #999;
    margin-right: 10px;
    line-height: 32px;
}


#quick-menu .text{
    color: #000000;
    display: none;
}
/*不能加a，加了a无法隐藏*/


#quick-menu a:hover{
    color: #ff0000;
    text-decoration: underline;
}


#quick-menu .left:hover .text{
    background: #ffffff;
    display: block;
    height: 75px;
    width: 100px;
}



#quick-menu .left:hover{
    background: #fff;
    /*display: block;*/
    border-color:#cccccc;
    /*height: 33px;*/

}
/*不能在left后面加a，因为加了a后hover的颜色只在a上有*/

#quick-menu .left{
    position: relative;
    height: 35px;
    border-style: solid;
    border-color:transparent;
    border-width: 0 1px;
}

#quick-menu .right.left::after{
    content: '';
    border: solid 3px;
    border-color: #999999 transparent transparent transparent;
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -1.5px;
    top:50%;
    right:14%;
}

#quick-menu .text {
    position: absolute;
    border:solid 1px ;
    border-color:#cccccc;
    left:-17px;
    top: 32px;
    /*height: 32px;*/
    text-align: center;
    line-height:35px;
}

#quick-menu .yi{
    position:absolute;
    left:-29px;
}

#quick-menu .right{
    position: relative;
}
#quick-menu .zz{
    position: relative;
}

#quick-menu .iconfont{
    color:#ff0000;
    font-size:13px;
}

#quick-menu .ewm{
    height: 223px;
    width: 174px;
    background: #ffffff;
    position: absolute;
    left:-50px;
    display: none;
    box-shadow: 0px 1px 20px #999999;
}
#quick-menu .ewm::after{
    content:'';
    border:solid 5px;
    border-color:transparent transparent #fff transparent;
    position:absolute;
    left:80px;
    top:-10px;
}

#quick-menu .zz:hover .ewm{
    display: block;
}



#quick-menu .jump > li {
    text-decoration: none;
    color: #999999;
    text-align: center;
}

#quick-menu .top{
    display: none;
    position: relative;
}
#quick-menu .jump{
    float: left;
}
#quick-menu .top a:hover{
    color:#ff0000;
    text-decoration: underline;
}

#quick-menu .left:hover .top{
    display: block;
    background: white;
    width: 150px;
    height: 210px;
    position: absolute;
    left: -45px;
}

#quick-menu .left:hover::after {
    transform: rotate(180deg);
    transform-origin: 3px 1.5px;
    transition:transform.3s ease;
}
/*设置三角形旋转
transform: rotate（）旋转角度
transform-origin:  移动
transition:transform  过渡样式*/


#logo .seach-dhl li{
    float:left;
}

#logo .seach-dhl a{
    color:#999;
    text-decoration:none;
    padding:0 14px;
    border-right: 1px solid #999;
    font-size:15px;
}

#logo .seach-dhl{
    margin-top: -25px;
    margin-left: 350px;
    padding: 0 12px;
    text-align: right;
}

#logo .seach-dhl .first{
    padding-left:0;
}

#logo .seach-dhl .last{
    border-right:none;
}

#side{
    display: block;
    width: 40px;
    background: black;
    position: fixed;
    right: 0;
    top:0;
    bottom:0;
}

.seach{
    width: 600px;
    height: 40px;
    position: absolute;
    left:480px;
    top:100px;
    text-align:center;
    border:solid 2px #ff0036;
    outline: none;
}

.sou {
    width: 100px;
    height: 44px;
    position: absolute;
    left: 1018px;
    top: 100px;
    color: #ffffff;
    border-style: none;
    background: #ff0036;
    font-size: 20px;
    outline: none;
}

#logo img{
    width: 290px;
    height: 130px;
    margin-top: 10px;
}

#main-nav .surrond li{
    float:left;
}

#main-nav .surrond a{
    color:#999;
    list-style: none;
    font-size:15px;
    padding: 10px;
}
#main-nav img{
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: -5px;
}
#main-nav .surrond{
    margin-top: 10px;
    transform:translate(20%,25%);

}




















