.menu a{
    color: #999;
    margin-left: 10px;
    line-height: 32px;
}

.menu span{
    color: #999999;
    margin-left: 40px;
    line-height: 32px;
}
.menu{
    float: left;
}


.menu a:hover{
    color: #ff0000;
}

#quick-menu{
    float: right;
}

#quick-menu .right{
    float: left;
    padding: 0 13px;
}
/*显示链接，不能在后面加a*/

#quick-menu{
    position:relative;
}

/*#quick-menu .aa{*/
    /*position:absolute;*/
    /*left:10px;*/
/*}*/

#quick-menu .right  a{
    color: #999;
    margin-right: 10px;
    line-height: 32px;
}


#quick-menu .text{
    color: #000000;
    display: none;
}
/*不能加a，加了a无法隐藏*/


#quick-menu a:hover{
    color: #ff0000;
    text-decoration: underline;
}


#quick-menu .left:hover .text{
    background: #ffffff;
    display: block;
    height: 75px;
    width: 100px;
}



#quick-menu .left:hover{
    background: #fff;
    /*display: block;*/
    border-color:#cccccc;
    /*height: 33px;*/

}
/*不能在left后面加a，因为加了a后hover的颜色只在a上有*/

#quick-menu .left{
    position: relative;
    height: 35px;
    border-style: solid;
    border-color:transparent;
    border-width: 0 1px;
}

#quick-menu .right.left::after{
    content: '';
    border: solid 3px;
    border-color: #999999 transparent transparent transparent;
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -1.5px;
    top:50%;
    right:14%;
}

#quick-menu .text {
    z-index: 1;
    position: absolute;
    border:solid;
    border-width:0 1px 1px 1px;
    border-color:#cccccc;
    left:-17px;
    top: 33px;
    /*height: 32px;*/
    text-align: center;
    line-height:35px;
}

#quick-menu .yi{
    position:absolute;
    left:-29px;
}

#quick-menu .right{
    position: relative;
}
#quick-menu .zz{
    position: relative;
}
#quick-menu .shang{
    width: 45px;
}


#quick-menu .jump > li {
    text-decoration: none;
    color: #999999;
    text-align: center;
}
#quick-menu .top{
    display: none;
    position: relative;
}

#quick-menu .jump{
    float: left;
}

#quick-menu .top a:hover{
    color:#ff0000;
    text-decoration: underline;
}

#quick-menu .left:hover .top{
    display: block;
    background: white;
    width: 150px;
    height: 210px;
    position: absolute;
    left: -45px;
}

#quick-menu .top{
    border:1px solid #ccc;
    z-index:1;
    width: 100px;
    height: 120px;
    padding: 10px 10px;
}
#quick-menu .jump3{
    border-bottom:1px solid #ccc;
}
#quick-menu .bb{
    position: relative;
}

#quick-menu .top{
    margin-left: -10px;
}


#quick-menu .iconfont{
    color:#ff0000;
    font-size:13px;
}

#quick-menu .ewm{
    height: 223px;
    width: 174px;
    background: #ffffff;
    position: absolute;
    left:-50px;
    display: none;
    box-shadow: 0px 1px 20px #999999;
    z-index: 1;
}
#quick-menu .ewm::after{
    content:'';
    border:solid 5px;
    border-color:transparent transparent #fff transparent;
    position:absolute;
    left:80px;
    top:-10px;
}

#quick-menu .zz:hover .ewm{
    display: block;
}


#quick-menu .left:hover::after {
    transform: rotate(180deg);
    transform-origin: 3px 1.5px;
    transition:transform.3s ease;
}
/*设置三角形旋转
transform: rotate（）旋转角度
transform-origin:  移动
transition:transform  过渡样式*/
#logo .seach-dhl li {
    float: left;
    padding: 0 12px;
    border-right: 1px solid #999;
}
#logo .seach-dhl a{
    color:#999;
    font-size: 14px;
}
#logo .seach-dhl{
    margin-top: 5px;
}

#side{
    display: block;
    width: 40px;
    background: black;
    position: fixed;
    right: 0;
    top:0;
    bottom:0;
}

#side .vip{
    font-size:15px;
    color:#f00;
    z-index:1;
    width: 100px;
    height: 32px;
    background: black;
    opacity:0;
    position:absolute;
    /*display: block;*/
    top:230px;
    left:-150px;
    /*transition:all .3s ease;*/
    /*visibility:hidden;*/
}

#side .box:hover .vip{
    display: block;
    left:-90px;
    opacity:1;
    visibility: visible;
}



#side .iconfont{
    color:#fff;
    font-size:20px;
    position:absolute;
    top:50%;
}
#logo .warrap{
    position:relative;
    width: 1250px;
}

#logo .seach-form{
    width: 623px;
    height: 36px;
    border:2px solid #ff0000;
}
/* 搜索栏的整体框架*/
#logo .seach {
    height: 100%;
    /*width: 100%;*/
    text-indent: 10px;
    border: none;
    width: 492px;
    outline: none;
    font-size: 15px;
    float: left;
}

#logo .sou{
    float: right;
    color:#fff;
    background: #ff0000;
    border:1px solid #ff0000;
    width: 100px;
    height: 100%;

}
#logo .seach-hh {
    position: absolute;
    top:80px;
    left:780px;
    transform: translate(-50%, -50%);
}
/*将搜索框居中*/
#logo img{
    margin-left: 55px;
}
#main-nav .surrond li{
    float:left;
}

#main-nav .surrond a{
    color:#000;
    margin-top: 10px;
}

#main-nav img{
    width: 100px;
    height: 30px;
}

#main-nav{
    height: 35px;
    line-height: 35px;
    position:relative;
}

#main-nav .surrond li{
    padding: 0 10px;
}

#main-nav .surrond{
    position:absolute;
    left:290px;
}
#back{
    background: #ccc;
}

#back .warrap{
    height: 500px;
    position: relative;
}

#back .img{
    position: absolute;
    left:150px;
    /*transform: translate(-50%,-50%);*/
}
#back .product .fenlei{
    color:#ffffff;
    background: #ff0000;
    width: 200px;
    height: 36px;
    line-height:36px;
    padding: 0 10px;
}
#back .product{
    width: 200px;
    height: 536px;
    background: rgba(0,0,0,.7);
    position:absolute;
    top:-36px;
    left:100px;
    overflow:hidden;
}

#back .product a{
    color:#ffffff;
}

#back .product li{
    padding: 10px 10px;
}

#back .red:hover{
    background: rgba(255,0,54,1);
}

#back .tiao-q li{
    width: 25px;
    height: 5px;
    background: rgba(0,0,0,.3);
    float: left;
    position: relative;
    left:650px;
    top:450px;
    margin-right: 15px;
}



















