.top{
    height:7vh;
    line-height:7vh;
    border-bottom:1px solid #ccc;
}
.top span,a{
    padding:0 5px;
}
.bottom p{
    margin-right: 15px;
    margin-bottom:0;
}
.header{
    text-align:right;
}