*{
    margin:0;
    padding:0;
    touch-action:none;
}
body{
    width: 100%;
    height: 100%;
   
}
input{
    outline:none;
    border:none;
}
/* 第一页开头开始 */
.page-1{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #eceef4;;
    /* background: #ff0000; */
    opacity: 0.7;
}
.page-1 .null{
    height: 40%;
}
.page-1 p{
    text-align: center;
    font-size:17px;
    color:rgba(111,111,111.7);
}
.page-1 .cube{
    width: 100%;
    height: 80px;
    background: #f48398;
    position:fixed;
    top:0;
    display:flex;
}
.page-1 .cube .head{
    flex:1;
}
.page-1 .cube .foot{
    flex:3;
    font-size:20px;
    /* background: #000000; */
}
.page-1 .foot .btn{
    width: 80px;
    height: 60px;
    background: #f48398;
    border:none;
    font-size:25px;
    margin-left:16%;
    color:#f2f2f2;
}
.page-1 .foot .text{
    position:absolute;
    top:50px;
    left:37%; 
    font-size:15px;
    background: #f48398;
    border:none;
}
.page-1 .head .pic{
    width: 60px;
    height: 60px;
    background: #fffffa;
    position:absolute;
    top:12%;
    left:10%;
}
.page-1 .word{
    margin-top:90px;
    width: 90%;
    height: 4%;
    /* position:absolute; */
    margin-left:5%;
    /* margin-left:-171px; */
    font-size:17px;
    color:#fffffa;
    text-align:center;
    background: #fffffa;
}
/* 第一页开头结束 */

/* 第一页页脚开始 */
#box{
    width: 100%;
    height: 45px;
    background: #ccc;
    opacity: 0.7;
    position:absolute;
    bottom:0;
}
#box .adv{
    display:flex;
}
#box li{
    color:#000;
    flex:1;
    text-align: center;
    line-height: 45px;
    list-style:none;
    border:1px solid #eceef4;
}
.adv .click{
    background: #eceef4;
}
/* 第一页页脚结束 */

/* 第二页开始 */
.hide{
    display:none;
   
} 
.page-2{
    background: #eceef4;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    line-height: 675px;
}

.moveToLeft{
    animation: moveToLeft 1s ease forwards;
}
@keyframes moveToLeft{
    100%{
        transform: translateX(-100%);
    }
}
.moveToRight{
    animation: moveToRight 1s ease forwards;
}
@keyframes moveToRight{
    100%{
        transform: translateX(100%);
    }
}
/* 第二页结束 */

/* 第三页开始 */
.page-3{
    background: #eceef4;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}