*{
    margin:0;
    padding:0;
}
body{
    background:#fdd9db;
}
#pic{
    width: 100%;
    height: 140px;
    
}
#warrap{
    width: 1400px;
    height: 100%;
    margin:0 auto;
    position:absolute;
    left:0;
    right:0;
}

#pic .pic1{
    width: 200px;
    height: 140px;
    border-radius:40px;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:0 auto;
}
#box-face{
    width: 100%;
    height: 50px;
    background:#de8d99;
    position:relative;
}
#left li{
    list-style:none;
    float:left;
    margin-left:30px;
    color:#eceef4;
    line-height:50px;
    font-style: inherit;
    cursor: pointer;
    outline: none;
}
#left >li:hover{
    color:#aadecc;
}
#abm{
    width: 500px;
    height: 500px;
    background:#de8d99;
    opacity: 0.6;
    display:none;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top:300px;
    z-index: 1;
}
#box-face{
    position: relative;
}
#seach{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    float:left;
}
#seach .seach-one{
    width: 270px;
    height: 29px;
    border:1px solid #deaac5;
    margin-top:0;
    outline: none;
}
#seach .seach-two{
    width: 50px;
    height: 31px;
    background: #deaac5;
    margin:0;
    border:none;
    color:#fff;
    float:right;
    outline:none;
}
#seach .seach-form{
    height: 30px;
    /* border-color:10px solid #000; */
    /* background: #eceef4; */
    float: left;
    position:relative;
}
#cube{
    width: 50px;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    background:#adccaa;
    opacity: 0.9;
    z-index: 1;
}
h2{
    color:#eceef4;
    position:absolute;
    right:100px;
    top:7px;
}
#box-face .smail{
    width: 45px;
    height: 45px;
    position:absolute;
    top:3.5px;
    right:50px;
}
#yo{
    position:absolute;
    top:200px;
    left:270px;
    display:none;
    z-index: 1;
}
#yo li{
    height: 200px;
    width: 200px;
    background: #adccaa;
    float:left;
    opacity: 0.6;
}
#yo .zh{
    width: 300px;
    height: 300px;
}
#box-bg{
    position: relative;
} 
#box-bg img{
    width: 1600px;
    height: 980px;
    z-index: -2;
    float:left;
    display: none;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
#box-bg .pict{
    display:block;
}
#box-bg .big-cube{
    width: 400px;
    height: 950px;
    background: #adccaa;
    opacity:0.6;
    position:absolute;
    top:20px;
    left:20px;
}
#tu li{
    list-style:none;
    width: 20px;
    height: 5px;
    background: #fff;
    opacity:0.6;
    float:left;
    margin-right:10px;
}
#tu{
    position:absolute;
    bottom:10px;
}