<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ ifm }}
        <div v-for="user in listSort">
            {{ user.name }}
            {{ user.age }}
        </div>
        <div v-for="user in cat">
            {{ user }}
        </div>
    </div>
    <script src="vue.js"></script>
    <script>
     let a = new Vue({
         el:"#app",
         data:{
             ifm:"hahah",
             arr:['html','css','js'],
             list:[
                 {
                     name:'ln',
                     age:10
                 },{
                     name:'hh',
                     age:20
                 },{
                     name:'ee',
                     age:3
                 }
             ],
             cat:{
                 name:'zhaocai',
                 age:1
             }
         },
         computed:{
             listSort(){
                return this.list.sort((a,b) => {
                    return a.age - b.age;
                })             
            }
         }
     })
    </script>
</body>
</html>