<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            添加购物车
            <input type="checkbox" v-model="show" v-on:click="check()">
            <ul v-show="show">
                <li v-for="obj in list">
                    {{ obj.name }}{{ obj.price }}
                    <input type="checkbox" :value="obj" v-model="list2">
                </li>
            </ul>
        </div>
        <div>已添加的商品有:</div>
        <ul>
            <li v-for="obj in list2">
               {{ obj.name }}{{ obj.price }}
            </li> 
        </ul>
        <div>总金额是：{{total}}元</div>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                show:false,
                list:[
                    {
                        name:'苹果',
                        price:10
                    },{
                        name:'香蕉',
                        price:15
                    },{
                        name:'橘子',
                        price:8
                    }
                ],
                list2:[
                    {
                        name:'包装袋',
                        price:0.5
                    }
                ]
            },
            methods:{
                check(){
                    this.list.splice();
                }
            },
            computed:{
                total(obj){
                    let sum=0;
                    this.list.forEach(function(obj,index){
                        sum += obj.price;
                    })
                    return sum;
                }
            }
        })
    </script>
</body>
</html>