.body{
    height:79vh;
    line-height:79vh;
    text-align:center;
    background:#ddd;
    margin-left:20px;
    margin-right:20px;
}
p{
    color:#f5f5f5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}